%h2 Updates
%ul.unstyled#updates
  %li I will be at SXSW in Austin, TX (March 8-13 2012)

%h2 Twitter Feed
%ul.unstyled#twitter
  %li.tweet
    %p
      The moon from the Chagall's Concert 
      %a{href:"http://t.co/7u9919Qh"} http://t.co/7u9919Qh
      %br
      %a.time{href:"http://twitter.com/thezanino/status/169947956731060224"}
        %small 2 weeks ago

%hr

.well{style:'padding: 8px 0;'}
  %ul.nav.nav-list
    %li.nav-header Find me on the social web
    %li
      %a{:href => "http://twitter.com/adamzaninovich"}
        %i.icon-star
        Twitter
    %li
      %a{:href => "http://github.com/adamzaninovich"}
        %i.icon-star
        GitHub
    %li
      %a{:href => "http://www.linkedin.com/profile/view?id=18588084"}
        %i.icon-star
        LinkedIn
    %li
      %a{:href => "http://www.facebook.com/adamzaninovich"}
        %i.icon-star
        Facebook
    %li
      %a{:href => "http://instagram.adamzaninovich.com"}
        %i.icon-star
        Instagram


%p
  %small.pull-right
    The code for this site is available on
    %a{href:"http://github.com/adamzaninovich/AdamZaninovich.com", title:"adamzaninovich's AdamZaninovich.com at master - GitHub"}
      github
