.hero-unit
  %h1 About Me
  %p I am a builder of web applications
%blockquote
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.
  %small Someone famous
%dl
  %dt Education
  %dd Cognitive Science, emphasis in Human-Computer Interaction(HCI), University of California, San Diego
  %dd Computer Science, California State University, Bakersfield
  
  %dt Talents
  %dd writing excellent code
  %dd interacting with peers and clients
  %dd designing complex systems
  
  %dt Current Toolset
  %dd Ubuntu Linux
  %dd Nginx
  %dd Thin
  %dd Unicorn
  %dd PostgreSQL
  %dd MongoDB
  %dd EventMachine
  %dd Ruby
  %dd Rails
  %dd Sinatra
  %dd Backbone.js
%p excels at writing code, working with server technology, interacting with people, and studying interfaces
%p enjoys building dynamic, standards-compliant web applications
%p
  I am currently doing freelance work building web applications with
  = succeed "," do
    %a{:href => "http://en.wikipedia.org/wiki/LAMP_(software_bundle)", :title => "LAMP (software bundle) - Wikipedia"} LAMP
  = succeed "," do
    %a{:href => "http://rubyonrails.com", :title => "Ruby on Rails"} Rails
  = succeed "," do
    %a{:href => "http://www.sinatrarb.com/", :title => "Sinatra"} Sinatra
  and
  = succeed "." do
    %a{:href => "http://github.com/eventmachine/eventmachine", :title => "eventmachine's eventmachine at master - GitHub"} EventMachine
%p I am also earning a Computer Science Degree at California State University, Bakersfield.
%h1 Specialties
%p I code neatly by hand and specialize in the following:
.row
  .span4
    %ul
      %li Ruby &amp; Rails
      %li PHP &amp; CodeIgniter
      %li (x)HTML &amp; haml
      %li CSS
      %li Javascript &amp; jQuery
  .span4
    %ul
      %li AJAX
      %li SQL
      %li Bash
      %li Git SCM
%p I enjoy learning new languages, techniques, frameworks, and paradigms. I often use my free time to read up on new ideas or learn a new language.
%p I have the unique ability to clearly relate technical concepts to people who are not technically-inclined.
%p I have experience in Linux and Mac server administration, as well as tech support for Windows, Mac, and Linux systems.
%p I design and program standards-compliant, dynamic and intuitive web applications.
